   rc_done="[${THEME_GOOD_COLOR}   OK   ${COLOR_NORMAL}]"
rc_running="[${THEME_GOOD_COLOR} runnin ${COLOR_NORMAL}]"
 rc_failed="[${THEME_ERROR_COLOR} failed ${COLOR_NORMAL}]"
 rc_missed="[${THEME_WARNING_COLOR} missed ${COLOR_NORMAL}]"
rc_skipped="[${THEME_DEBUG_COLOR} skip'd ${COLOR_NORMAL}]"
   rc_dead="[${THEME_WARNING_COLOR}  dead  ${COLOR_NORMAL}]"
 rc_unused="[${THEME_DEBUG_COLOR} unused ${COLOR_NORMAL}]"
rc_unknown="[${THEME_DEBUG_COLOR} uknown ${COLOR_NORMAL}]"

