## @file efunctions.rc
## @brief librarie for e*() functions that do not depend on OS
## @author Charles-Antoine Degennes <cadegenn@gmail.com>
## @copyright   (c) 2017 Charles-Antoine Degennes <cadegenn@gmail.com>


