## @file theme_default.rc
## @brief librarie for e*() functions that do not depend on OS
## @author Charles-Antoine Degennes <cadegenn@gmail.com>
## @copyright   (c) 2017 Charles-Antoine Degennes <cadegenn@gmail.com>

## @var THEME_DEBUG_COLOR
## @brief default color to display debug messages
declare -r THEME_DEBUG_COLOR=${COLOR_SILVER}

## @var THEME_DEVEL_COLOR
## @brief default color to display development messages
declare -r THEME_DEVEL_COLOR=${COLOR_GRAY}

## @var THEME_ERROR_COLOR
## @brief default color to display error messages
declare -r THEME_ERROR_COLOR=${COLOR_RED}

## @var THEME_INFO_COLOR
## @brief default color to display informations
declare -r THEME_INFO_COLOR=${COLOR_GREEN}

## @var THEME_TITLE_COLOR
## @brief default color to display titles
declare -r THEME_TITLE_COLOR=${COLOR_LIME}

## @var THEME_VERBOSE_COLOR
## @brief default color to display verbose informations
declare -r THEME_VERBOSE_COLOR=${COLOR_WHITE}

## @var THEME_WARNING_COLOR
## @brief default color to display warnings
declare -r THEME_WARNING_COLOR=${COLOR_YELLOW}

